/* Basic styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, main, section, footer {
    padding: 20px;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}

h2 {
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Navigation menu styles (optional) */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

/* Responsive styles (add media queries for different screen sizes) */

/* 

Here, you'll need to add media queries to adjust styles for smaller screens.
For example:

@media (max-width: 768px) {
    /* Styles for smaller screens (tablets) */
    header, nav, main, section, footer {
        padding: 10px;
    }
    h2 {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    /* Styles for even smaller screens (phones) */
    nav li {
        display: block;
        margin: 10px
