/* Basic styles */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: radial-gradient(#d1c292 0% 5%, #8b8b4e 21%, #bbeeff 100%)
}

header, nav, main, section, footer {
  display: flexbox;
  width: 90vw;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;


}

.header {
text-align: center;
text-transform: capitalize;
padding: 32px;
background-color: #0a0a23;
color: #fff;
border-bottom: 4px solid #fdb347;
}

h2 {
  margin-bottom: 15px;
}
h1,
h2 {
  font-family: Verdana, Tahoma;
}

h2 {
  border-bottom: 4px solid #dfdfe2;
  margin-top: 0px;
  padding-top: 60px;
}
#services p {
  margin-top: 20px;
  padding-left: 5px;
  font-size: 20px;
}
figure {
  border: thin #c0c0c0 solid;
  display: flexbox;
  position:relative;
  padding: 1%;
  margin: auto;
  max-width: 320px;
  
}

img {
  max-width: 640;
  max-height: 320px;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

nav {
  width: 50%;
  max-width: 600px;
  height: 50px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  color: #131330;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}

nav > ul > li:hover {
  background-color: #ddb96b;
  color: #474770;
  cursor: pointer;
}

li > a {
  color: inherit;
  text-decoration: none;
}

/* Responsive styles (add media queries for different screen sizes) */

/* 

Here, you'll need to add media queries to adjust styles for smaller screens.
For example:

@media (max-width: 768px) {
  /* Styles for smaller screens (tablets) */

  h2 {
      font-size: 1.2em;
  }


@media (max-width: 480px) {
  /* Styles for even smaller screens (phones) */
  nav li {
      display: block;
      margin: 10px
  }
}
